
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    border: solid black 2px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    color: aliceblue;
}
body{
    background-color: rgb(60, 73, 76);
    color: aliceblue;
}
.container{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.container button:hover{
    cursor: pointer;
}